$color1: #42a5f5;
$page-background: #f3f3f3;
nav{
	background-color: $color1;
}
span.badge.new{
	background-color: $color1;
}
a{
	// color: #222;
}
nav.top-nav{
	// height: 64px;
}
nav.top-nav a.page-title{
	// line-height: 64px;
}
.navbar-fixed{
	height: 122px;
}
nav.top-nav a.page-title{
	font-size: 36px;
}
html, main{
	background: $page-background;
}